 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuru design</title>
    <link rel="stylesheet" href="NuruFeed.css">
 </head>
 <body>
     <nav class="navbar">
        <div class="nav-left"> 
            <a href="index.html" class="logo"><img src="img/Nuru.png" alt="logo for website"></a>
        </div> 
        <div class="nav-mid">
            <ul>
                <li><a href="#"><img src="img/house.png" alt=""><span>Home</span></a></li>
                <li><a href="#"><img src="img/handshake.png" alt=""><span>Relationships</span></a></li>
                <li><a href="#"><img src="img/social-communication-disorder.png" alt=""><span>Messages</span></a></li>
                <li><a href="#"><img src="img/bell.png" alt=""><span>Notifications</span></a></li>
                <!-- <li><a href="feed_home.html"><img src="img/home.png" alt=""><span>Home</span></a></li> -->
            </ul>
        </div>
        <div class="nav-right">
            <img src="img/user.png" class="nav-propic" onclick="toggleMenu()">
        </div>
        <!-- ---------------drop-down-menu-------------- -->
         <div class="menu-wrap" id="proMenu">
            <div class="profile-menu">
                <div class="info">
                    <img src="img/pexels-photo-1820919.webp" alt="">
                    <div>
                        <h3>Thembi Makamu</h3>
                        <a href="#">See Profile</a>
                    </div>
                </div>
                <hr>
                <a href="#" class="menu-link">
                    <img src="img/comment.png" alt="">
                    <p>feedback</p>
                    <span>></span>
                </a>
                <a href="#" class="menu-link">
                    <img src="img/cogwheel.png" alt="">
                    <p>settings & privacy</p>
                    <span>></span>
                </a>
                <a href="#" class="menu-link">
                    <img src="img/monitor.png" alt="">
                    <p>Display & accessibility</p>
                    <span>></span>
                </a>
                <a href="#" class="menu-link">
                    <img src="img" alt="">
                    <p>Help & Support</p>
                    <span>></span>
                </a>
                <a href="#" class="menu-link">
                    <img src="" alt="">
                    <p>Logout</p>
                    <span>></span>
                </a>
            </div>
         </div>
</nav>
<!--end of navbar-->
<div class="container">
        <!-- left section-->
    <div class="left-sec">
        <div class="sidebar-box">
                <img src="img/pexels-photo-4177725.jpeg" width="100%">
                <div class="sidebar-info">
                    <img src="img/pexels-photo-1820919.webp">
                    <h1>Thembi Makamu</h1>
                    <h3>Writer and web designer</h3>
                    <ul>
                        <!-- <li>profile views <span>52</span></li>
                        <li>your views <span>310</span></li> -->
                        <li>relationships <span>25</span></li>
                    </ul>
                </div>
        <!-- <div class="activity"></div> -->
            </div>
</div>
                
<!------main section-->
<div class="main-sec">
    <div class="create">
        <div class="create-input">
            <img src="img/pexels-photo-4177725.jpeg">

            <form action="/post"  method="post">
                <textarea rows="2" placeholder="write something"></textarea>
        </div>
        <div class="create-link">
            <li><img src="img/gallery.png" alt="post media">Media</li>
            <li><img src="img/pen-filled-writing-tool.png" alt="post blog">Blog post</li>
            <li><img src="img/icons8-calendar-50.png" alt="schedule event">event</li>
            <button type="submit">Post</button>
        </div>
    </form> 
    </div>
    <div class="sorted">
        <hr>
        <p>Sort by: <span>top <img src="img/down.png" alt=""></span></p>
    </div>
    <div class="post">
        <div class="author">
            <img src="https://images.nappy.co/uploads/large/19515968410409yuyvpjffyjg3vqe62wkoqgkgw5fuz7mff5ejafxaom11u1kb7md85wiqxqybnjn2p6zql8dcztjnq1bm7xriij6kdpxegbvgo0b.jpg?auto=format&w=960&q=75" alt="">
            <div>
                <h1>Yasin Bey</h1>
                <small>Rapper, Poet, actor</small>
                <small>2 hours ago</small>
            </div>
        </div>
        <p>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi est reiciendis quis ducimus ipsa ea. Quisquam nesciunt praesentium pariatur dicta, quo velit rerum unde recusandae, necessitatibus officiis ut impedit blanditiis obcaecati tempore! Qui, quam deleniti eos fugiat sunt quis quo officia quisquam dolore doloribus perspiciatis provident obcaecati sed minima corporis?
        </p>
        <img src="https://images.nappy.co/uploads/large/dsc09404-247141677557738f3flu6lrcpomxirtosyxmyczbl7djq3mk4g49lszsxkbwsbbrztlj0wbwqu8kluttarm4xwhr8uv3p8l9egqbho7cpzlynbysihq.jpg?auto=format&w=961&q=75" width="100%" >

        <div class="post-stats">
            <div>
                <img src="img/like.png" alt="">
                <img src="img/love.png" alt="">
                <img src="img/snap.png" alt="">
                <span class="reactions"> Mzwakhe Mbuli, Leleti kumalo and 67 others</span>
            </div>
            <div>
                <span>31 comments &middot; 2 shares</span>
            </div>
        </div>
        <div class="activity">
            <div>
                <img src="img/user.png" alt="" class="acivity-icon-user">
                <img src="img/down.png" alt="" class="acivity-icon-arrow">
            </div>
            <div class="activity-link">
                <img src="img/like.png" alt="" >
                <span>Like</span>
            </div>
            <div class="activity-link">
                <img src="img/comment.png" alt="">
                <span>comment</span>
            </div>
            <div class="activity-link">
                <img src="img/share.png" alt="">
                <span>share</span>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="author">
            <img src="https://images.nappy.co/uploads/large/19515968410409yuyvpjffyjg3vqe62wkoqgkgw5fuz7mff5ejafxaom11u1kb7md85wiqxqybnjn2p6zql8dcztjnq1bm7xriij6kdpxegbvgo0b.jpg?auto=format&w=960&q=75" alt="">
            <div>
                <h1>Yasin Bey</h1>
                <small>Rapper, Poet, actor</small>
                <small>2 hours ago</small>
            </div>
        </div>
        <p>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi est reiciendis quis ducimus ipsa ea. Quisquam nesciunt praesentium pariatur dicta, quo velit rerum unde recusandae, necessitatibus officiis ut impedit blanditiis obcaecati tempore! Qui, quam deleniti eos fugiat sunt quis quo officia quisquam dolore doloribus perspiciatis provident obcaecati sed minima corporis?
        </p>
        <img src="https://images.nappy.co/uploads/large/dsc00410-247141677559748yrgqcnaofpxbvedsdhborzdgk6d7iq6pk7buqopgqzecdckfuaclqx40kwvzkehssqneshvqlwucejrcyjhopdpy98i3bg2kmm9q.jpg?auto=format&w=1280&q=75" width="100%" >

        <div class="post-stats">
            <div>
                <img src="img/like.png" alt="">
                <img src="img/love.png" alt="">
                <img src="img/snap.png" alt="">
                <span class="reactions"> Mzwakhe Mbuli, Leleti kumalo and 67 others</span>
            </div>
            <div>
                <span>31 comments &middot; 2 shares</span>
            </div>
        </div>
        <div class="activity">
            <div>
                <img src="img/user.png" alt="" class="acivity-icon-user">
                <img src="img/down.png" alt="" class="acivity-icon-arrow">
            </div>
            <div class="activity-link">
                <img src="img/like.png" alt="" >
                <span>Like</span>
            </div>
            <div class="activity-link">
                <img src="img/comment.png" alt="">
                <span>comment</span>
            </div>
            <div class="activity-link">
                <img src="img/share.png" alt="">
                <span>share</span>
            </div>
        </div>
    </div>
</div>
<!---right section-->
<div class="right-sec"> 
            <div class="news">
                <img src="img/information-button.png" class="info-icon" alt="">
                <h3>Trending news</h3>
                <a href="#">Looking for poets to perform</a>
                <span>1 day ago &middot; 10 readers</span>
                
                <a href="#">Looking for poets to perform</a>
                <span>1 day ago &middot; 10 readers</span>

                <a href="#">Looking for poets to perform</a>
                <span>1 day ago &middot; 10 readers</span>

                <a href="#" class="more-link">Read more</a>
            </div>
            <div class="instagram">
                <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
                <div class="elfsight-app-65ff03cb-1cce-409f-93ec-8e290edada44" data-elfsight-app-lazy></div>
            </div>
            <div class ="twitter">
                <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
                <div class="elfsight-app-3fdef87c-bb9f-4832-b0d3-12b090fb7fe2" data-elfsight-app-lazy></div>
            </div>
            
</div>
</div>
<script>
    let proMenu = document.getElementById("proMenu");

    function toggleMenu(){
        proMenu.classlist.toggle("open-menu");

    }
</script>
 </body>
 </html> 